
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    /*z-index: 1;*/
    top: 0;
    left: 0;
    background-color: #42c2f4;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 60px;

}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 13px;
    color: black;
    display: block;
    transition: 0.3s;
    text-align: left;

}
.sidenav b {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #025a60;
}
.sidenav b:hover {
    color: #e8f0ff;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5;
    
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav b {font-size: 18px;}
}

#footer {

    left:0;
    bottom: 0;
    width: 100%;
    background-color: #f4f8ff;
    color: black;
    text-align: left;
    height: 70px;
    border-top: 2px solid #00c9f7;
    border-radius: 5px;

}
#logout {
    border-top: 1.5px solid #7f8dff;
    opacity: .7;
    width: 60%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38a8ff;
    position:fixed;
    top: 0px;
    width: 100%


}

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li a:hover {
    background-color: #28d9fc;
}
select {
    width: 60%;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;


}
span{
    color: white;
    text-align: center;
    padding: 14px 16px;
}
span:hover {
    background-color: #c1adff;
}

img {
    border-radius: 50%;
}
.container {
    padding: 16px;
}

#input_1 {
    width: 85%;
    padding: 15px 50px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    display: block;
    margin-left: 25px;
    margin-right: 25px;
}
#form_1 {
    border-bottom: 3px solid #f1f1f1;
    border-left: 3px solid #f1f1f1;
    border-right: 3px solid #f1f1f1;
    border-top: 3px solid #f1f1f1;
    margin:auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f4f8ff;
    text-align: center;
    width: 350px;
}
#button_1 {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    text-align: center;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image:      -o-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4CAF50), to(#3b8e3f));
    background-image:         linear-gradient(to bottom, #4CAF50 0%, #3b8e3f 100%);
}

#button_1:hover {
    opacity:1;
}
.alert-danger {
    background-image: -webkit-linear-gradient(top, #d1e0fc 0%, #f4f8ff 100%);
    background-image:      -o-linear-gradient(top, #d1e0fc 0%, #f4f8ff 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d1e0fc), to( #f4f8ff));
    background-image:         linear-gradient(to bottom, #d1e0fc 0%,  #f4f8ff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2dede', endColorstr='#ffe7c3c3', GradientType=0);
    background-repeat: repeat-x;
    border-color: #dca7a7;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: table;
    width: 350px;
    border-top: 3px solid #f1f1f1;
    border-left: 3px solid #f1f1f1;
    border-right: 3px solid #f1f1f1;
}
table, th, td {
   background-color: #d1edff;

} 
table {
    border-collapse: collapse;
    width: 100%;

}
th {
    background-color: #5bbfff;
    color: black;
    height: 40px;
    width: 300px;
    border-bottom: 1px solid #f2faff;
    border-right: 2px solid #f2faff;
}
td {
    height: 30px;
    text-align: center;
    border-bottom: 2px solid #ffffff;
}
#delete {
    background-image: -webkit-linear-gradient(top, #f90404 0%, ##b70101 100%);
    background-image:      -o-linear-gradient(top, #f90404 0%, ##b70101 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f90404), to(#b70101));
    background-image:         linear-gradient(to bottom, #f90404 0%, ##b70101 100%);
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #a3d6ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: list-item;
    text-align: left;
    z-index: 3;
}

.dropdown-content a:hover {
    background-color: #e8f0ff;
}

.dropdown:hover .dropdown-content {
    display: list-item;
}
#a_del {
     text-decoration: none ;
     color: white;
    padding : 5px;
    border-radius: 5px;
   background-image: -webkit-linear-gradient(top, #f90404 0%, ##b70101 100%);
    background-image:      -o-linear-gradient(top, #f90404 0%, ##b70101 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f90404), to(#b70101));
    background-image:         linear-gradient(to bottom, #f90404 0%, ##b70101 100%);
  }
#a_del:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
    opacity:0.8;
   }
#a_upd {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image:      -o-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4CAF50), to(#3b8e3f));
    background-image:         linear-gradient(to bottom, #4CAF50 0%, #3b8e3f 100%);
}
#a_upd:hover
  {
    color:white;
    text-decoration:none;
    cursor:pointer;
    opacity:0.9;
   }
#po_no {
    width: 150px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#po_date {
    width: 100px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#quantity {
    width: 100px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#remarks_po {
    margin-top: 5px;
    margin-bottom: 5px;

}
#category {
    width: 120px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#manufacturer {
    width: 240px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#serial_number {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#purchase_order_no {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#item_details {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
}
#remarks_inv {
    margin-top: 5px;
    margin-bottom: 5px;
}
#item_name_w_details {
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#color {
    margin-top: 5px;
    margin-bottom: 5px;    
}
#submit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 5px;

}
#submit:hover {
    background-color: #4CAF50;
    color: white;
    opacity: 0.7;
}
#a_add {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image:      -o-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4CAF50), to(#3b8e3f));
    background-image:         linear-gradient(to bottom, #4CAF50 0%, #3b8e3f 100%);
}
#a_add:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
    opacity:0.9;
}
#po_form {
    background-color:  #f4f7fc;
    border-bottom: 2px solid #00c9f7;
    border-left: 2px solid #00c9f7;
    border-right: 2px solid #00c9f7;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#po_title {
    background-image: -webkit-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image:      -o-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#84b2ff), to(#669df9));
    background-image:         linear-gradient(to bottom, #84b2ff 0%, #669df9 100%);
    border-radius: 5px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#inv_title {
    background-image: -webkit-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image:      -o-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#84b2ff), to(#669df9));
    background-image:         linear-gradient(to bottom, #84b2ff 0%, #669df9 100%);
    border-radius: 5px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#inv_form {
    background-color:  #f4f7fc;
    border-bottom: 2px solid #00c9f7;
    border-left: 2px solid #00c9f7;
    border-right: 2px solid #00c9f7;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}
#po_div_line {
    border: 1px solid #00c9f7;
    border-radius: 5px;
}
#inv_div_line {
    border: 1px solid #00c9f7;
    border-radius: 5px;
}
#read_title {
    background-image: -webkit-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image:      -o-linear-gradient(top, #84b2ff 0%, #669df9 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#84b2ff), to(#669df9));
    background-image:         linear-gradient(to bottom, #84b2ff 0%, #669df9 100%);
    border-radius: 5px;
    padding-left: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#searchbar {
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom: .5px solid gray;
    border-top: .5px solid gray;
    border-left: .5px solid gray;
    border-right: .5px solid gray;
    height: 20px;
}
#submitsearch {
    text-decoration: none;
    color: white;
    padding: 5px;
    background-image: -webkit-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image:      -o-linear-gradient(top, #4CAF50 0%, #3b8e3f 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4CAF50), to(#3b8e3f));
    background-image:         linear-gradient(to bottom, #4CAF50 0%, #3b8e3f 100%);
    cursor: pointer;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#submitsearch:hover {
    color:white;
    text-decoration:none;
    cursor:pointer;
    opacity:0.9;
}